<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href ="./styles/style.css">
    <title>Desserts</title>
</head>
<body>
   
    <div class="image-container">
        <img src="https://images.pexels.com/photos/4686958/pexels-photo-4686958.jpeg?auto=compress&cs=tinysrgb&w=600" width= '500' height= '300' alt="Donut">
    
        <div>
            <h2>Dessert: <%= name || 'Customize Your Own Dessert' %></h2>
            <ul>
            
                <li>Donut: <%= donutName || 'none' %></li>
                <li>Toppings: <%= toppings || 'none' %></li>
            </ul>
        </div>
    </div>
    


     
        <form action="/desserts/create" method="POST">
            <label for="name">Dessert Name:</label>
            <input type="text" id="name" name="name" placeholder="Dessert" required><br><br>

            <label for="donutName">Donut Name:</label>
            <input type="text" id="donutName" name="donutName" placeholder="Donut Name" required><br><br>

            <label for="toppings">Toppings:</label>
            <select id="toppings" name="toppings" required>
                <option value="">--Select Topping--</option>
                <option value="Glazed">Glazed</option>
                <option value="Vanilla">Vanilla</option>
                <option value="Chocolate">Chocolate</option>
            </select><br><br>
            <button type="submit"> Submit Order</button>
        </form>
    </div>

</body>
</html>