<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Account</title>
</head>
<body>
    <h1> Create A New User</h1>

<form action = '/desserts'><br>
<input type= 'text' name= 'name' placeholder="name"/><br>
<input type= 'text' name= 'sport' placeholder="sport"/><br>
<input type= 'number' name= 'age' placeholder="age"/><br>
<input type = 'submit'/>
</form>
</html>