<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel = "stylesheet" href ="./styles/style.css"> -->
    <title>Desserts</title>
    <style>
        body{
            background-color: rgba(255, 236, 30, 0.731);
            text-align: center;
        }
        
    </style>
</head>
<body>
   
    <div class="image-container">
        <img src="https://d25thuhsbcr6yb.cloudfront.net/m/s/36890/36880131/a-01.jpg" width= '800' height= '200' alt="Donut">
    
        <div>
            <h2>Dessert: <%= name || 'Customize Your Own Donut' %></h2>
            <ul>
                <li>Dessert: <%= dessertName || 'none' %></li>
                <li>Donut: <%= donutName || 'none' %></li>
                <li>Toppings: <%= toppings || 'none' %></li>
            </ul>
        </div>
    </div>
    


     
        <form action="/desserts/create" method="POST">
            <label for="dessertname">Dessert Name:</label>
            <select id="dessertName" name="dessertName" required>
                <option value="">--Select Dessert Name--</option>
                <option value="Original">Original</option>
                <option value="Delight">Delight</option>
                <option value="Deluxe">Deluxe</option>
            </select>

  

            <label for="donutName">Donut Name:</label>
            <select id="donutName" name="donutName" required>
                <option value="">--Select Donut Name--</option>
                <option value="Red Velvet">Red Velvet</option>
                <option value="Cheesecake">Cheesecake</option>
                <option value="Tiramisu">Tiramisu</option>
            </select>

   

            <label for="toppings">Toppings:</label>
            <select id="toppings" name="toppings" required>
                <option value="">--Select Topping--</option>
                <option value="Glazed">Glazed</option>
                <option value="Vanilla">Vanilla</option>
                <option value="Chocolate">Chocolate</option>
            </select><br><br>

            <button type="submit"> Submit Order</button>
        </form>
        
        <br>
        <br>

        <div class =" image-container"></div>

        <img src="https://d25thuhsbcr6yb.cloudfront.net/m/s/36902/36892986/a-01.jpg" width= '800' height= '300' alt="Donut">
    </div>
    </div>

</body>
</html>